<app-identity-menu [item]="identityId"></app-identity-menu>

<div class="notesOptions">
    <button class="mat-button" mat-stroked-button (click)="open()">{{ 'ADDNOTE' | translate }}</button>
    <div class="options">
        <mat-form-field class="inputFilter" appearance="standard" color="accent">
            <mat-label>{{ 'FILTER' | translate }}</mat-label>
            <input matInput (keyup)="filterCategory()" [(ngModel)]="inputfilter" color="accent">
        </mat-form-field>

        <mat-form-field class="categoriesFilter" appearance="standard">
            <mat-label>{{ 'CATEGORIES' | translate }}</mat-label>
            <mat-select [(value)]="filteredCategory" (selectionChange)="filterCategory()">
                <mat-option></mat-option>
                <mat-option *ngFor="let l of identityCategories" [value]="l">
                    <img class="hexagon" [src]="constructSrc(l.hex, 20)">
                    {{l.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <button class="mat-button" mat-stroked-button (click)="openCategoriesManagement(identityCategories)">
        {{ 'CATEGORIES' | translate }}
    </button>
</div>

<mat-divider></mat-divider>

<div class="dashboard">
    <mat-card class="mat-card" *ngFor="let card of notes" (click)="openNote(card)">
        <mat-card-header>
            <mat-card-title>{{card.name}}</mat-card-title>
            <mat-card-subtitle>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            {{card.summary}}
        </mat-card-content>
        <mat-card-actions>
            <div class="card-categories">
                <p *ngFor="let c of card.categories">
                    <img class="label" [src]="constructSrc(c.hex, 20)">
                    <!-- {{c.name}} -->
                </p>
            </div>
        </mat-card-actions>
    </mat-card>
</div>