.card-categories {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.card-categories p {
    padding: 5px;
}

.mat-card {
    margin: 15px;
    box-shadow: 0px 4px 4px rgb(206, 206, 206);
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}

.dashboard mat-card-header {
    justify-content: center;
}

.dashboard .card {
    /* font-family: Gotham Rounded; */
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0;
    width: 328px;
    height: 178px;
}

.dashboard .card .card-title {
    display: flex;
}

.dashboard .card .card-title .title {
    font-size: 20px;
    color: #262b3d;
}

.dashboard .card .card-title .label {
    margin-left: 21px;
    margin-top: 16px;
}

.mat-button {
    display: flex;
    height: 35px;
    margin-top: 25px;
}

.options {
    display: flex;
    flex-basis: 70%;
    flex-grow: 4;
    justify-content: space-around;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.notesOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.inputFilter {
    flex-basis: 75%;
    font-size: 12px;
    margin-top: 15px;
}

.categoriesFilter {
    font-size: 12px;
    margin-top: 14px;
}

.hexagon {
    margin-right: 20px;
}