.container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.list {
    padding: 10px;
    border-radius: 5px;
    min-height: 60px;
    min-width: 250px;
    overflow: hidden;
}

.list h2 {
    text-align: center;
}

.task {
    padding: 10px 5px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
}

.task:last-child {
    border: none;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.delete-task-icon {
    cursor: pointer;
    color: white;
}

.add-task-input {
    width: 100%;
    background-color: transparent;
    border: 1px solid darkgray;
}

input:focus.add-task-input { 
    outline: none;
}

.update-task-input {
    background-color: transparent; 
    border: none;
}

input:focus.update-task-input { 
    outline: none;
}