<app-identity-menu [item]="identityId"></app-identity-menu>

<div cdkDropListGroup class="container">

    <div cdkDropList [cdkDropListData]="todolist" (cdkDropListDropped)="drop($event)" class="list" *ngIf="todolist">
        <h2>To do</h2>
        <hr>
        <div class="task" cdkDrag *ngFor="let card of todolist">
            <input class="update-task-input" #ToDoListInput type="text" value='{{card.name}}' (keyup.enter)="updateOnEnter(ToDoListInput.value, card)">
            <span (click)="deleteCard(card)" class="delete-task-icon"><mat-icon>delete</mat-icon></span>            
        </div>
        <input class="add-task-input" #editListInput type="text" (keyup.enter)="onInputEnter(1, editListInput.value);">
    </div>

    <div cdkDropList [cdkDropListData]="doinglist" (cdkDropListDropped)="drop($event)" class="list" *ngIf="doinglist">
        <h2>Doing</h2>
        <hr>
        <div class="task" cdkDrag *ngFor="let card of doinglist">
            <input class="update-task-input" #DoingListInput type="text" value='{{card.name}}' (keyup.enter)="updateOnEnter(DoingListInput.value, card)">            
            <span (click)="deleteCard(card)" class="delete-task-icon"><mat-icon>delete</mat-icon></span>
        </div>
        <input class="add-task-input" #editListInput type="text" (keyup.enter)="onInputEnter(2, editListInput.value); editListInput.value=''">
    </div>

    <div cdkDropList [cdkDropListData]="donelist" (cdkDropListDropped)="drop($event)" class="list" *ngIf="donelist">
        <h2>Done</h2>
        <hr>
        <div class="task" cdkDrag *ngFor="let card of donelist">
            <input class="update-task-input" #DoneListInput type="text" value='{{card.name}}' (keyup.enter)="updateOnEnter(DoneListInput.value, card)">            
            <span (click)="deleteCard(card)" class="delete-task-icon"><mat-icon>delete</mat-icon></span>
        </div>
        <input class="add-task-input" #editListInput type="text" (keyup.enter)="onInputEnter(3, editListInput.value); editListInput.value=''">
    </div>
</div>