<body>
    <div *ngIf="!isThere" class="center">
        <form *ngIf="!isLoggedIn" [formGroup]="form" novalidate>
            <div class="login-container">

                <mat-form-field appearance="outline">
                    <!-- <input matInput placeholder="{{ 'USERNAME' | translate }}" formControlName="username"> -->
                    <input matInput placeholder="Username" formControlName="username">
                    <mat-error *ngIf="!username.valid && username.touched">
                        {{ titleAlert }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <!-- <input matInput placeholder="{{ 'PASSWORD' | translate }}" formControlName="password"> -->
                    <input matInput type="password" placeholder="Password" formControlName="password">
                    <mat-error *ngIf="!password.valid && password.touched">
                        {{ titleAlert }}
                    </mat-error>
                </mat-form-field>

                <!-- <button class="button" mat-stroked-button (click)="submit()" color="primary">{{ 'LOGIN' | translate }}</button> -->
                <button class="button" mat-stroked-button (click)="submit()" color="primary">LOGIN</button>

                <div class="form-group">
                    <div class="alert alert-danger" role="alert" *ngIf=" isLoginFailed">
                        Login failed: {{ errorMessage }}
                    </div>
                </div>

            </div>
        </form>
    </div>

    <div class="alert alert-success" *ngIf="isThere">
        <!-- <button class="button" mat-stroked-button routerLink="/notes" *ngIf="isThere" color="primary">'AAA'</button> -->
        <app-notes></app-notes>
    </div>
    <router-outlet></router-outlet>
</body>