.body {
    margin-top: 10px;
    margin-bottom: 20px;
}

.add-form {
    text-align: center;
}

img {
    width: 45px;
    height: 45px;
    border-radius: 50px;
}

.link-icon {
    cursor: pointer;
}

:host ::ng-deep .mat-form-field-underline {
    display: none;
}