<div class="body">
  <div>
    <button mat-button *ngIf="!addMode" (click)="toggleAddMode()">Add</button>
    <div class="add-form" *ngIf="addMode">
      <h3>Create</h3>
      <hr />
      <form [formGroup]="form" (submit)="onSubmit()">
        <div>
          <mat-form-field appearance="outline">
            <input matInput formControlName="name" placeholder="Enter name..." />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input matInput formControlName="game" placeholder="Enter game..." />
          </mat-form-field>
        </div>
        <label>
          <div *ngIf="imageData">
            <img [src]="imageData" [alt]="form.value.name" />
          </div>
          <div *ngIf="!imageData">
            <img src="../../../../assets/default.jpg">
          </div>
          <input (change)="onFileSelect($event)" type="file" style="display:none">
        </label>
        <div>
          <button mat-button type="submit">Add</button>
          <button mat-button (click)="toggleAddMode()">Cancel</button>
        </div>
      </form>
    </div>
  </div>

  <div>
    <mat-table class="mat-elevation-z3" [dataSource]="dataSource">
      <ng-container matColumnDef="Picture">
        <mat-header-cell *matHeaderCellDef>Picture</mat-header-cell>
        <mat-cell *matCellDef="let row;">
          <form [formGroup]="form">
            <label>
              <img [src]="row.imagePath" onError="this.src='../../../../assets/default.jpg'">
              <input (change)="onFileSelectUpdate($event, row._id, row.name)" type="file" style="display:none">
            </label>
          </form>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let row;">
          <mat-form-field>
            <input matInput [value]="row.name" [(ngModel)]="row.name" />
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Game">
        <mat-header-cell *matHeaderCellDef>Game</mat-header-cell>
        <mat-cell *matCellDef="let row;">
          <mat-form-field>
            <input matInput [value]="row.game" [(ngModel)]="row.game" />
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Options">
        <mat-header-cell *matHeaderCellDef>
          Options
        </mat-header-cell>
        <mat-cell *matCellDef="let row;">
          <mat-icon class="link-icon" [routerLink]="[ '/todos',row._id]">fact_check</mat-icon>
          <mat-icon class="link-icon" [routerLink]="[ '/notes',row._id]">description</mat-icon>
          <mat-icon class="link-icon" [routerLink]="[ '/calendar',row._id]">calendar_today</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row;">
          <button mat-icon-button (click)="deleteIdentity(row._id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button (click)="updateIdentity(row)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns">
      </mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>

</div>