<div *ngIf="currentIdentityId" class="edit-form">
    <h3 style="text-align: center;">Character : {{currentIdentity}}</h3>
    <mat-tab-group mat-stretch-tabs (selectedTabChange)="onChange($event)">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">fact_check</mat-icon>
                ToDo
            </ng-template>
            <app-to-do></app-to-do>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">description</mat-icon>
                Notes
            </ng-template>
            <app-notes></app-notes>
        </mat-tab>

        <mat-tab label="Events">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">calendar_today</mat-icon>
                Events
            </ng-template>
            <app-calendar></app-calendar>
        </mat-tab>
    </mat-tab-group>

</div>

<div *ngIf="!currentIdentityId">
    <br />
    <p>Cannot access this Identity...</p>
</div>