<div class="submit-form">
    <div *ngIf="!submitted">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="identity.name" name="name" />
        </div>

        <button (click)="saveIdentity()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="newIdentity()">Add</button>
    </div>
</div>