/* You can add global styles to this file, and also import other style files */

html { 
    // position: relative; 
    // min-height: auto;
} 
body { 
    // margin: 0; 
    // font-family: Roboto, “Helvetica Neue”, sans-serif; 
    // width: 400px; 
    // height:430px !important; 
    // overflow-y: scroll; 
    // overflow-x: scroll;


//     position: fixed;
// top: 50%;
// left: 50%;
// transform: translate(-50%, -50%);
// width: 50%;
} 
