<mat-card>
    <body>
        <div class="container mat-app-background">
            <div class="quote">
                {{quote}}
            </div>
            <hr>
            <div class="author">
                — {{author}}
            </div>
        </div>
    </body>
</mat-card>