<div *ngIf="identity">
    <mat-toolbar>
        <img [src]="identity.imagePath" onError="this.src='../../../../../assets/default.jpg'">
        <span>{{identity.name}}</span>
        <span class="example-spacer"></span>
        <mat-icon class="link-icon" [routerLink]="[ '/todos',identity._id]">fact_check</mat-icon>
        <mat-icon class="link-icon" [routerLink]="[ '/notes',identity._id]">description</mat-icon>
        <mat-icon class="link-icon" [routerLink]="[ '/calendar',identity._id]">calendar_today</mat-icon>
    </mat-toolbar>
</div>