<div class="body">
  <div class="buttons">
    <button mat-icon-button (click)="toggleEditMode()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleAddMode()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="close()">{{ 'CLOSE' | translate }}</button>
  </div>

  <mat-table class="mat-elevation-z8" [dataSource]="dataSource">
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <p *ngIf="!editMode">
        <mat-cell *matCellDef="let row;">{{row.name}}</mat-cell>

      </p>
      <p *ngIf="editMode">
        <mat-cell *matCellDef="let row;">

          <input matInput #editInput [value]="row.name" (focusout)="updateName(editInput.value, row)" />

        </mat-cell>
      </p>
    </ng-container>
    <ng-container matColumnDef="Color">
      <mat-header-cell *matHeaderCellDef>Color</mat-header-cell>

      <p *ngIf="!editMode">
        <mat-cell *matCellDef="let row;">
          <img class="hexagon" [src]="constructSrc(row.hex, 25)">
        </mat-cell>
      </p>


      <p *ngIf="editMode">
        <mat-cell *matCellDef="let row;">

          <input class="colorinput" [style.background]="'#'+row.hex" [(colorPicker)]="'#'+row.hex"
            [style.background]="row.hex" (colorPickerClose)="updateColor($event, row)" [cpOKButton]="true"
            [cpSaveClickOutside]="false" [cpAlphaChannel]="'disabled'" />
        </mat-cell>
      </p>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row;">
        <button mat-icon-button (click)="deleteCategory(row._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns">
    </mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <div class="add-form mat-elevation-z8" *ngIf="addMode">
    <mat-form-field>
      <input #input placeholder="Name" matInput [(ngModel)]=input.value>
    </mat-form-field>
    <input class="colorinput" [style.background]=color [(colorPicker)]=color [style.background]=color
      (colorPickerClose)="addedColor('choseColorEvent', $event, 'id')" [cpOKButton]="true" [cpSaveClickOutside]="false"
      [cpAlphaChannel]="'disabled'" />

    <div mat-dialog-actions>
      <button mat-button (click)="addCategory(input.value)">{{"SAVE" | translate}}</button>
      <button mat-button mat-flat-button (click)="toggleAddMode()">{{"CANCEL" | translate}}</button>
    </div>
  </div>
</div>