.body {
    width: 60vw;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.colorinput {
    border: none;
    width: 19px;
    height: 19px;
    border-radius: 3px;
    margin-left: 2px;
}

.add-form {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.add-form .mat-dialog-actions {
    justify-content: center;
}