<div *ngIf="!isLoggedIn" class="container">
    <mat-slide-toggle class="theme" [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)">
        Dark theme
    </mat-slide-toggle>

    <mat-form-field class="language" appearance="outline">
        <mat-label>{{ 'LANGUAGE' | translate }}</mat-label>
        <mat-select [(value)]="selectedLanguage" (selectionChange)="changeLanguage()">
            <mat-option *ngFor="let l of languageSettings" [value]="l"> {{l}} </mat-option>
        </mat-select>
    </mat-form-field>
</div>