.container {
    height: 50px;
    border-top: 1px solid lightgray;
    position: fixed;
    bottom: 0px;
    min-width: 100%;
    font-size: smaller;
    text-align: center;
}

.theme {
    margin-right: 5px;
}
.language {
    margin-left: 5px;
}