<form *ngIf="!isSuccessful" [formGroup]="form" novalidate>
    <div class="register-container">

        <mat-form-field appearance="outline">
            <input matInput placeholder="{{ 'USERNAME' | translate }}" formControlName="username">
            <mat-error *ngIf="!username.valid && username.touched">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="{{ 'PASSWORD' | translate }}" formControlName="password">
            <mat-error *ngIf="!form.controls['password'].valid && form.controls['password'].touched">
                {{ getErrorPassword() }}
            </mat-error>
        </mat-form-field>

        <button class="button" mat-stroked-button (click)="submit()" color="primary">{{ 'SIGNUP' | translate }}</button>

    </div>
</form>

<div class="alert alert-success" *ngIf="isSuccessful">
    Your registration is successful!
</div>