<div [ngClass]="{'dark-theme': isDarkThemePref}">
  <div class="mat-app-background">
    <mat-toolbar color="primary">
      <button mat-icon-button routerLink="home">
        <mat-icon>home</mat-icon>
      </button>

      <!-- <button *ngIf="isLoggedIn" mat-icon-button [matMenuTriggerFor]="menuI">
        <mat-icon>people_alt</mat-icon>
      </button>
      {{selectedIdentityName}}

      <mat-menu #menuI="matMenu">
        <mat-list class="inline-list">
          <mat-list-item *ngFor="let identity of identities">
            <button mat-button (click)="setIdentity(identity)">{{identity.name}}</button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <button class="mat-button" mat-stroked-button (click)="openIdentitiesManagement(identities)">
              {{ 'IDENTITIES' | translate }}
          </button>
          </mat-list-item>
        </mat-list>
      </mat-menu> -->

      <span class="example-spacer"></span>
      <!-- <div class="menuOptions">
        <button *ngIf="isLoggedIn" routerLink="todos" mat-icon-button>
          <mat-icon class="example-tab-icon">fact_check</mat-icon>
        </button>
        <button *ngIf="isLoggedIn" routerLink="notes" mat-icon-button>
          <mat-icon class="example-tab-icon">description</mat-icon>
        </button>
        <button *ngIf="isLoggedIn" routerLink="calendar" mat-icon-button>
          <mat-icon class="example-tab-icon">calendar_today</mat-icon>
        </button>
      </div> -->

      <a *ngIf="!isLoggedIn" href="/register" class="nav-link" routerLink="register">{{ 'SIGNUPTITLE' | translate }}</a>
      <a *ngIf="!isLoggedIn" href="/login" class="nav-link" routerLink="login">
        <mat-icon>login</mat-icon>
      </a>

      <a *ngIf="isLoggedIn" href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      <button *ngIf="isLoggedIn" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span routerLink="/settings">{{ 'SETTINGS' | translate }}</span>
        </button>
        <button mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span (click)="logout()">{{ 'LOGOUT' | translate }}</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <div class="container">
      <app-login></app-login>
      <router-outlet></router-outlet>
    </div>
    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>