.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    height: 45px;
}

mat-toolbar.mat-toolbar mat-form-field.mat-form-field {
    font-size: 12px;
    margin-top: 10px;
}

mat-toolbar.mat-toolbar mat-form-field.mat-form-field label.mat-form-field-label {
    font-weight: bold;
}

.mat-app-background {
    height: 100vh;
}

/* .footer {
    height: 40px;
    border-top: 1px solid lightgray;
    position: fixed;
    bottom: 0px;
    width: 100%;
} */