<form *ngIf="!isLoggedIn" [formGroup]="form" novalidate>
    <div class="login-container">

        <mat-form-field appearance="outline">
            <input matInput placeholder="{{ 'USERNAME' | translate }}" formControlName="username">
            <mat-error *ngIf="!username.valid && username.touched">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="{{ 'PASSWORD' | translate }}" formControlName="password">
            <mat-error *ngIf="!password.valid && password.touched">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>

        <button class="button" mat-stroked-button (click)="submit()" color="primary">{{ 'LOGIN' | translate }}</button>

        <div class="form-group">
            <div class="alert alert-danger" role="alert" *ngIf=" isLoginFailed">
                Login failed: {{ errorMessage }}
            </div>
        </div>

    </div>
</form>

<!-- <div class="alert alert-success" *ngIf="isLoggedIn">
    Logged in as {{ roles }}.
</div> -->