.menu {
    display: flex;
    border: solid 1px darkgrey;
    border-radius: 5px;
    flex-basis: 5%;
    flex-grow: 1;
    flex-direction: column;
    margin-right: 20px;
    padding: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    text-align: center;
}

.container {
    background-color: lightgray;
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 10px;
}

.main {
    /* display: flex; Sinon les tabs des details ne sont plus sur toute la largeur */
    border: solid 1px darkgrey;
    border-radius: 5px;
    flex-grow: 9;
    padding: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

a {
    color:darkslategray;
}