<!-- <div class="container mat-elevation-z4">
    <div id="left" class=" menu ">
        <mat-list>
            <div mat-subheader>Identities</div>
            <mat-list-item *ngFor="let identity of identities">
                <a routerLink="details/{{identity._id}}">{{ identity.name }}</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <button mat-stroked-button mat-button routerLink="add">Add</button>
        </mat-list>
    </div>

    <div id="right" class="main">
        <router-outlet></router-outlet>
    </div>
</div> -->

<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" >
        <mat-nav-list>
            <a *ngFor="let identity of identities" mat-list-item routerLink="details/{{identity._id}}"
                (click)="sidenav.toggle()"> {{identity.name}}</a>
        </mat-nav-list>
        <mat-divider></mat-divider>
            <button style="text-align: center;" mat-stroked-button mat-button routerLink="add">Add</button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;">
            <mat-toolbar >
                <button mat-icon-button aria-label="Menu" (click)="sidenav.open()">
                    <mat-icon>menu</mat-icon>
                </button>
            </mat-toolbar> -->
            <!-- <router-outlet></router-outlet> -->
        <!-- </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->

