<div class="body">
  <div class="note-title">
    <div *ngIf="isEditNoteMode">
      <input matInput value={{note.name}} [(ngModel)]="updateTitle">
    </div>
    <div *ngIf="!isEditNoteMode">
      {{note.name}}
    </div>
  </div>
  <hr />
  <div class="categories">
    <p *ngFor="let c of noteCategories" (click)="deleteCategory(c)">
      <img class="hexagon" [src]="constructSrc(c.hex, 20)">
      {{c.name}}
    </p>
  </div>
  <hr />
  <div class="main-content">
    <div class="note-content">
      <div *ngIf="isLink(note.content)">
        <a href="{{note.content}}" target="_blank">Open Link</a>
      </div>
      <div *ngIf="!isLink(note.content)">
        <div class="content" *ngIf="isEditNoteMode">
          <mat-form-field class="content-form" appearance="outline">
            <mat-label>Content</mat-label>
            <textarea class="content-input" matInput value={{note.content}} [(ngModel)]="updateContent"></textarea>
          </mat-form-field>
        </div>
        <div *ngIf="!isEditNoteMode">
          {{note.content}}
        </div>

      </div>

    </div>
    <button *ngIf="!isEditNoteMode" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <button mat-icon-button *ngIf="isEditNoteMode" (click)="updateNote()">
      {{ 'SAVE' | translate }}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span (click)="deleteNote()">{{ 'DELETENOTE' | translate }}</span>
      </button>
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span (click)="editNoteMode()">{{ 'EDITNOTE' | translate }}</span>
      </button>
      <button mat-menu-item>
        <button mat-menu-item [matMenuTriggerFor]="catmenu">{{ 'CATEGORIES' | translate }}</button>
      </button>
      <button mat-menu-item>
        <button mat-menu-item [matMenuTriggerFor]="copymenu">{{ 'COPYNOTE' | translate }}</button>
      </button>
      <button mat-menu-item>
        <button mat-menu-item [matMenuTriggerFor]="movemenu">{{ 'MOVENOTE' | translate }}</button>
      </button>
    </mat-menu>

    <mat-menu #catmenu="matMenu">
      <div class="categories-menu">
        <div *ngIf="menuCategories?.length != 0">
          <p *ngFor="let c of menuCategories">
            <img class="hexagon" [src]="constructSrc(c.hex, 20)">
            <button color="accent" mat-button (click)="addCategory(c)">{{c.name}}</button>
          </p>
        </div>
        <div *ngIf="menuCategories?.length == 0">
          <p mat-menu-item>{{ 'NONE' | translate }}</p>
        </div>
      </div>
    </mat-menu>

    <mat-menu #copymenu="matMenu">
      <div class="categories-menu">
        <div *ngIf="identities?.length != 0">
          <p *ngFor="let c of identities">
            <button color="accent" mat-button (click)="copyNote(c)">{{c.name}}</button>
          </p>
        </div>
        <div *ngIf="identities?.length == 0">
          <p mat-menu-item>{{ 'NONE' | translate }}</p>
        </div>
      </div>
    </mat-menu>

    <mat-menu #movemenu="matMenu">
      <div class="categories-menu">
        <div *ngIf="identities?.length != 0">
          <p *ngFor="let c of identities">
            <button color="accent" mat-button (click)="moveNote(c)">{{c.name}}</button>
          </p>
        </div>
        <div *ngIf="identities?.length == 0">
          <p mat-menu-item>{{ 'NONE' | translate }}</p>
        </div>
      </div>
    </mat-menu>

  </div>
</div>