.body {
    height: 450px;
    width: 300px;
}

.note-title {
    text-align: center;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: smaller;
}

.categories p {
    padding: 5px;
    cursor: pointer;
}

.categories-menu {
    display: flex;
    flex-direction: column;
}

.categories-menu p {
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.note-content {
    width: auto;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
}

.content-input {
    min-width: 120px !important;
    min-height: 180px !important;
}

.content-form {
    min-width: 120px !important;
    min-height: 180px !important;
    /* width: 100%; */
}