<app-identity-menu [item]="identityId"></app-identity-menu>

<div class="calendar">
    <full-calendar [ngClass]="calendarVisible ? 'calendar-after' : 'calendar'" *ngIf="calendarVisible"
        [options]="calendarOptions"></full-calendar>
</div>