<div class="content">
    <mat-form-field appearance="outline" color="accent">
        <mat-label>{{ 'NOTETITLE' | translate }}</mat-label>
        <input matInput [(ngModel)]="name">
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
        <mat-label>{{ 'NOTECONTENT' | translate }}</mat-label>
        <textarea class="content-input" matInput [(ngModel)]="content"></textarea>
    </mat-form-field>
    <button class="mat-button" mat-stroked-button (click)="save()">{{ 'SAVE' | translate }}</button>
    <button class="mat-button" mat-stroked-button (click)="close()">{{ 'CLOSE' | translate }}</button>
</div>