<form [formGroup]="form" novalidate>
  <div class="example-container">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'LANGUAGE' | translate }}</mat-label>
      <mat-select [(value)]="selectedLanguage" formControlName="language">
        <mat-option *ngFor="let l of languageSettings" [value]="l"> {{l}} </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'THEME' | translate }}</mat-label>
      <mat-select [(value)]="selectedTheme" formControlName="theme">
        <mat-option *ngFor="let t of themeSettings" [value]="t"> {{t}} </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-stroked-button (click)="submit()" color="primary">Save</button>
  </div>
</form>