.container {
    font-size: 14px;
}

.button-div{
    display: flex;
    flex-direction: row-reverse;
    
}

.content-input {
    height: 200px;
}

.content {
    display: flex;
    flex-direction: column;
}

.mat-form-field-flex {
    width: 450px;
}

.center {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    .form-field-label {
      white-space: nowrap;
    }
    .form-field-label + mat-form-field {
     margin-left: 10px;
    }
    mat-form-field {
      width:100%;
    }
  }
