<div class="container" *ngIf="isThere">
  <div class="button-div">
    <button class="button" mat-stroked-button (click)="logout()" color="primary">Logout</button>
  </div>
  <hr />
  <div class="content">
    <form>
      <!-- <h4>mat-select</h4> -->
      <div class="center">
        <mat-form-field appearance="outline">
          <mat-label>Character</mat-label>
          <mat-select [(value)]="selected">
            <mat-option *ngFor="let identity of identities" [value]="identity.name">
              {{identity.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- <p> Selected identity: {{selectedIdentity}} </p> -->
    </form>
    <!-- <input class="content-input" id="input" matInput #input value={{inputtext}}> -->
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="title">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Content</mat-label>
      <textarea class="content-input" matInput value={{inputtext}}></textarea>
    </mat-form-field>
    <button class="button" mat-stroked-button (click)="save()" color="primary">Save</button>
  </div>
</div>